<% provide(:title, 'ユーザー認証メールの再送信') %>
<div class="container dynamic_pages">
  <div class="container_signs">
    <h1>ユーザー認証メールの再送信</h1>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, :class => "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-input" %>
    </div>

    <div class="actions registration">
      <%= f.submit "送    信", class: "btn red-vivid" %>
    </div>
    <% end %>
  </div>
</div>
