<% provide(:title, 'ユーザー新規登録') %>
<div class="container dynamic_pages">
  <div class="container_signs">
    <h1>ユーザー新規登録</h1>
    <div class="container_sns">
      <%= link_to user_twitter_omniauth_authorize_path, class: 'sns-link btn twitter' do %>
      <%= image_tag 'icon_twitter-brands.svg', alt: 'twitterのアイコン' %>
      twitterでログイン
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, class: 'sns-link btn facebook' do %>
      <%= image_tag 'icon_facebook-brands.svg', alt: 'facebookのアイコン' %>
      Facebookでログイン
      <% end %>
    </div>
    <div class="separator_wrapper">
      <span class="separator">または</span>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, :class => "form-label" %>
      <%= f.text_field :name, autofocus: true, maxlength: "32", :class => "form-input" %>
    </div>

    <div class="field">
      <%= f.label :email, :class => "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-input" %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字6文字以上16文字以内", :class => "form-input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'パスワードをもう一度入力してください', :class => "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-input" %>
    </div>

    <div class="field" id="preview_user_image">
      <%= javascript_pack_tag 'preview_image_user-profile', 'data-turbolinks-track': 'reload',  defer: true %>
    </div>

    <div class=" actions">
      <%= f.submit "ユーザー登録", :class => "btn" %>
    </div>
    <% end %>
    <div class="wrapper_notification">
      <%= link_to "既にアカウントをお持ちの方はこちら", new_session_path(resource_name) %>
      <%= link_to "ユーザー認証メールの再送", new_confirmation_path(resource_name) %>
    </div>
  </div>
</div>
