<!DOCTYPE html>
<html lang=ja>
<head>
  <%= render template: "layouts/meta_tags" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render template: "layouts/shims" %>
</head>
<body>
  <%= render template: "layouts/header" %>
  <%= render template: "layouts/background" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render template: "layouts/footer" %>
</body>
</html>
