<!DOCTYPE html>
<html lang=ja>
<head>
  <%= render template: "layouts/meta_tags" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render template: "layouts/location_hash" %>
  <%= render template: "layouts/jquery" %>
  <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload',  defer: true %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render template: "layouts/shims" %>
</head>
<body>
  <%= javascript_packs_with_chunks_tag 'loading' %>
  <%= render template: "layouts/header" %>
  <%= render template: "layouts/background" %>
  <%= yield %>
  <%= render template: "layouts/footer" %>
</body>
</html>
