<header>
  <nav class="container">
    <%= link_to image_tag('logo_header.svg', alt: 'The Trip Tipのロゴ'),
                root_path,
                class: 'logo_header',
                method: :get
    %>
    <ul>
      <li>
        <%= link_to '投稿一覧', '#', class: '', method: :get %>
      </li>
      <li>
        <%= link_to 'ユーザー登録', new_user_registration_path , class: '', method: :get %>
      </li>
      <li>
        <%= link_to 'ログイン', '#', class: '', method: :get %>
      </li>
    </ul>
    <div id="nav-drawer" class="nav-drawer">
      <input id="nav-input" type="checkbox" class="unshown">
      <label id="nav-open" for="nav-input" class="nav-open"><span></span></label>
      <label class="nav-close" id="nav-close" for="nav-input"></label>
      <div id="nav-content" class="nav-content">
        <label class="btn_nav-close" id="btn_nav-close" for="nav-input"><%= image_tag 'btn_nav-close', alt: 'メニューを閉じるボタン' %></label>
        <ul>
          <li>
            <%= link_to '#', class: '', method: :get do%>
            <%= image_tag 'icon_post-index_nav-drawer.svg', alt: '投稿一覧のアイコン' %>
            投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: '', method: :get do %>
            <%= image_tag 'icon_user_nav-drawer.svg', alt: 'ユーザーのアイコン' %>
            ユーザー登録
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: '', method: :get do %>
            <%= image_tag 'icon_login_nav-drawer.svg', alt: 'ログインのアイコン' %>
            ログイン
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
