    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="robots" content="noindex,nofollow" />
	<meta name="Description" content="私(twitter名:@462radiradi)のポートフォリオサイト【The Trip Tip】です。The Trip Tipは、旅行の思い出を記録に残し、それを他のユーザーと共有することが出来るSNSです。旅行に関する情報を、是非投稿してみてください。">
	<meta property="og:url" content="<%= root_url %>" />
	<meta property="og:title" content="The Trip Tip" />
	<meta property="og:type" content="website">
	<meta property="og:description" content="私(@462radiradi)のポートフォリオ【The Trip Tip】です。The Trip Tipは、旅行の思い出を他のユーザーと共有出来るSNSです。旅行に関する情報を投稿してみてください。" />
	<meta property="og:image" content="<%= root_url %>ogimage.png" />
	<meta property="og:site_name" content="The Trip Tip -旅の思い出共有SNS-" />
	<meta property="og:locale" content="ja_JP" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@462radiradi" />
	<meta property="fb:app_id" content="未登録" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <meta name="application-name" content="The Trip Tip"/>
    <meta name="msapplication-square70x70logo" content="<%= root_url %>site-tile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="<%= root_url %>site-tile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="<%= root_url %>site-tile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="<%= root_url %>310x310.png"/>
    <meta name="msapplication-TileColor" content="#cff6ff"/>
    <%= favicon_link_tag('favicon.ico') %>
