  <input id="userDetailInput" type="checkbox" class="unshown">
  <aside id="side" class="side">
    <label id="userDetailClose" for="userDetailInput" class="user_detail_close"></label>
    <div class="user_drawer">
      <div class="info_user">
        <label for="userDetailInput" class="user_detail_close">
          <%= image_tag 'btn_nav-close', alt: 'メニューを閉じるボタン' %>
        </label>
        <% if current_user?(@user) %>
        <span class="title_info">
          ログインユーザー
        </span>
        <% else %>
        <span class="title_info">
          表示中のユーザー
        </span>
        <% end %>
        <%= image_tag @user.image.url, alt: 'ユーザーのアイコン', class: 'image_user' %>
        <span class="name_user">
          <%= @user.name %>
        </span>
        <dl class="links_user">
          <div class="wrapper_link">
            <dt class="title_link">フォロー </dt>
            <dd class="detail_link">
              <%= link_to '#', method: :get do %>
              -<span class="follow">500</span>users
              <% end %>
            </dd>

          </div>
          <div class="wrapper_link">
            <dt class="title_link">フォロワー</dt>
            <dd class="detail_link">
              <%= link_to '#', method: :get do %>
              -<span class="follow">5,000</span>users
              <% end %>
            </dd>
          </div>
          <%# 旅行記機能実装後 %>
          <%# <div class="wrapper_link"> %>
          <%# <dt class="title_link"> %>
          <%# <%= link_to '旅行記', '#', method: :get %>
          <%# </dt> %>
          <%# <dd></dd> %>
          <%# </div>  %>
        </dl>
      </div>
      <% if current_user?(@user) %>
      <div id="postDrawer" class="post_drawer">
        <input id="postInput" type="checkbox" class="unshown">
        <label id="postOpen" for="postInput" class="btn post red-vivid">
          <span class="wrapper">
            <%= image_tag 'icon_post.svg', alt: 'ノートと鉛筆のアイコン' %>
            <span>つぶやきを投稿する</span>
          </span>
        </label>
        <label id="postClose" for="postInput" class="post-close"></label>
        <div id="postContent" class="post-content">

          <div class="card_post over_flow-scroll">
            <label for="postInput" class="post-close">
              <%= image_tag 'btn_nav-close', alt: 'メニューを閉じるボタン' %>
            </label>
            <div class="wrapper_title-post">
              <%= image_tag 'icon_post-dark.svg', alt: 'ノートと鉛筆のアイコン' %>
              <span>つぶやきを投稿する</span>
            </div>
            <%= form_for @micropost, url: micropost_index_path do |f| %>
            <div class="field">
              <%= f.text_area :content, autofocus: true, maxlength: "140", :class => "form-text_area" %>
            </div>
            <div id="preview_micropost_image">
              <%= javascript_pack_tag 'image_micropost', 'data-turbolinks-track': 'reload',  defer: true %>
            </div>
            <div class="actions micropost">
              <%= f.submit "投稿する", class: "btn red-vivid" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="btn navy follow">
        フォローする
      </div>
      <% end %>
    </div>
  </aside>
